@media only screen and (max-width: 575px) {
  .alignment {
    height: auto !important;
  }

  .login-form {
    width: 100%;
  }
  .status-box {
    flex-direction: row !important;
  }

  .profile-img-box {
    flex-direction: column !important;
    padding-left: 0 !important;
    margin-top: 5px;
  }

  .short-info {
    position: unset;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .btn-edit-profile {
    margin-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .login-form {
    width: 90%;
  }

  .status-box {
    flex-direction: column;
    text-align: center;
  }
  .profile-img-box {
    flex-direction: column !important;
    padding-left: 0 !important;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1199px) {
}
